<ion-view title="Agenda" id="page6" style="">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="agenda-card1">
      <div class="item item-divider"> Maandag 29-10 20:00 - 21:00</div>
      <div class="item item-body">
        <div id="agenda-markdown2" class="show-list-numbers-and-dots">
          <p style="color:#000000;">We lopen een rondje en speuren naar dingen die niet horen.</p>
        </div>
        <button id="agenda-button6" class="button button-royal  button-block">Ik ga mee!</button>
        <form id="agenda-form3" class="list"></form>
      </div>
    </div>
    <div class="list card" id="agenda-card2">
      <div class="item item-divider"> Dinsdag 30-10 19:00 - 20:00</div>
      <div class="item item-body">
        <div id="agenda-markdown3" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Wie heeft er zin om koffie te drinken?</p>
        </div>
        <button id="agenda-button7" class="button button-balanced  button-block">Ik doe mee!</button>
      </div>
    </div>
    <button id="agenda-button17" class="button button-positive button-large button-icon icon ion-android-add-circle"></button>
  </ion-content>
</ion-view>