<ion-view title="OpWeg - Eersel" id="page1" style="background-color: rgb(0, 132, 112);">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="false" scroll="false" style="background: url(img/14787796519101419217822.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="opWegEersel-form7">
      <div id="opWegEersel-markdown4" style="padding:10px;position:fixed;bottom:0;left:0;height:auto;text-align:center;background-color: rgba(125, 125, 125, 0.3);" class="show-list-numbers-and-dots">
        <img src="img/eersel_trans96dpi.png" style="height: 120px;"/>
        <p style="color:#F2E500;font-size:28px;padding:20px;line-height:1;">
          Waar ga je naar toe? </br>
          Ik help je de beste route kiezen!
        </p>

      <label class="item item-input" id="opWegEersel-input7">
        <span class="input-label"></span>
        <input id="re_search" placeholder="Ik ga naar..." type="text">
      </label>

      <div id="opWegEersel-button-bar4" class="button-bar">
        <button id="opWegEersel-button22" class="button button-positive-eersel button-block">Veilig</button>
        <button id="opWegEersel-button24" class="button button-stable  button-block">Leuk</button>
      </div>
      <div id="opWegEersel-button-bar5" class="button-bar">
        <button id="opWegEersel-button28" class="button button-stable  button-block icon ion-android-car" ng-click="setType()"></button>
        <button id="opWegEersel-button29" class="button button-stable  button-block icon ion-android-bicycle" ng-click="settType()"></button>
        <button id="opWegEersel-button30" class="button button-positive-eersel  button-block icon ion-android-walk" ng-click="setType()"></button>
      </div>
      <button id="opWegEersel-button31" class="button button-light  button-block icon-right ion-android-arrow-dropright" ng-click="toList()">Op weg!</button>
      </div>
    </form>
  </ion-content>
</ion-view>
