<ion-view title="Naar Gamma, Eersel" id="page7" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true">
    <ion-list id="test-list4">
      <ion-item class="item-icon-left" id="test-list-item5" style="">
        <i class="icon ion-ios-flag-outline"></i>Vertrek naar het zuiden
        <span class="item-note">Het vriest, route aangepast</span>
      </ion-item>
      <ion-item class="item-icon-left" id="test-list-item6" style="">
        <i class="icon ion-arrow-left-c"></i>Loop over Quackelaar
        <span class="item-note">Gestrooid</span>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="test-list-item7" style="">
        <i class="icon ion-arrow-right-c"></i>Steek Willibrorduslaan over
        <span class="item-note">Het is druk bij Jumbo</span>
        <i class="icon ion-alert-circled"></i>
      </ion-item>
      <ion-item class="item-icon-left" id="test-list-item8" style="">
        <i class="icon ion-arrow-left-c"></i>Loop op Nieuwstraat
        <span class="item-note">Goed verlicht</span>
      </ion-item>
      <ion-item class="item-icon-left" id="test-list-item9" style="">
        <i class="icon ion-arrow-left-c"></i>De rest moet nog!</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
